<!DOCTYPE html>
<html>
<head>
    <title>Leaflet.heat demo</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
       integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
       crossorigin=""/>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
     <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
     <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
       integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
       crossorigin=""></script>

       <!-- bootstrap popper jquert cdn -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <style>
        #map { height: 1010px; top:30px }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
        #fl {
           top:1%;

        }
        #slider{

            top:12px;
        }
    </style>
</head>
<body>
  <div class="container-fluid" id="fl">
    <div class="row">
      <div class="col-sm-4">
        <select class="selectpicker" id="selecter">
          <option>Power</option>
          <option>Power Correction</option>
        </select>
      </div>


    </div>
  </div>
  <div id="slider" class="container-fluid"></div>


<div id="map"></div>

<!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
<script src="../src/HeatLayer.js"></script> -->

<script src="/js/dist/leaflet-heat.js"></script>


<script>
$(()=>{

  setInterval(() => {

      $.get('/vehicle',(result)=>{

           var markers = L.markerClusterGroup();

           layerGroup.clearLayers();
           console.log("in");
           //console.log(JSON.parse(result))
           res = JSON.parse(result);
           for(var i in res){

             var temp=[]
             temp.push(res[i].lat)
             temp.push(res[i].lon)
             //console.log(temp)
             L.marker(temp, {icon:busIcon}).addTo(layerGroup);
             //var marker=L.marker([44.8402,-65.8484]).addto(map);
           }

      });



  },10000);

   $("#slider").slider();

  // $.ajax({
  //     type:'get',
  //     url:'/getter',
  //     success : (result) => {
  //
  //         alert(JSON.stringify(result));
  //     },
  //     error: (error) => {
  //
  //         alert(JSON.stringify(error));
  //     }
  // });
});
$("#selecter").change(()=>{

    var values = $('#selecter').val();
    var parameters = {val: values};
    //alert("it has been changed"+$('#selecter').val());
    $.get('/getter',parameters,(result)=>{
        //alert(result);

        map.removeLayer(heat)
        //heat.redraw().remove();
        var tdata1=JSON.parse(result)
        //var tdata1=[{lat:44.82152122,lon:-63.65123187,count:1000},{lat:44.82152122,lon:-63.66123187,count:50},{lat:44.82152122,lon:-63.67123187,count:0}]
        console.log(tdata1)

        //addressPoints1 = tdata1.map(function (p) { return [p.lat, p.lon]; });

        heat = L.heatLayer(tdata1).addTo(map);

    });

});
var map = L.map('map').setView([44.74026342, -63.8454], 8);
var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);
var tdata=<%-poww%>
//var tdata=[{lat:44.82152122,lon:-63.65123187,count:200},{lat:44.82152122,lon:-63.66123187,count:80},{lat:44.82152122,lon:-63.67123187,count:1000}]
console.log(tdata)

addressPoints = tdata.map(function (p) { return [p.lat, p.lon]; });
var heat = L.heatLayer(addressPoints).addTo(map);

var pos = <%- pos %>
var LeafIcon = L.Icon.extend({
    options: {
        iconSize:     [20, 20],
    }
});
var busIcon = new LeafIcon({iconUrl: 'bus.jpg'});

var layerGroup = L.layerGroup().addTo(map);
for(var i in pos){

  var temp=[]
  temp.push(pos[i].lat)
  temp.push(pos[i].lon)
  console.log(temp)
  L.marker(temp, {icon:busIcon}).addTo(layerGroup);
  //var marker=L.marker([44.8402,-65.8484]).addto(map);
}

 //var marker = L.marker(<%-pos%>).addTo(map);
//[[44.8402, -68.6745, "100"],[44.7502, -63.8454,"15"],[44.5678,-66.3454,"8"],[44.5678,-70.3454,"12"]]
</script>
</body>
</html>
