<html>

<script type="text/javascript" src="/js/heatmap.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script type="text/javascript" src="/js/leaflet-heatmap.js"></script>

<!-- bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- jquery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- bootstrap popper jquert cdn -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style type="text/css">
#mapid {
  top:15px;
  height: 92%; }
#fl {
   top:1%;

}
</style>
<body>
  <div class="container-fluid" id="fl">
    <div class="row">
      <div class="col-sm-4" style="background-color:green;"><h1> hello </h1></div>

    </div>
  </div>
  <div id="mapid"></div>
</body>
<script src="/js/power.json"></script>
<script src="/js/powerCorr.json"></script>
<script type="text/javascript">

  //console.log(JSON.parse(<%-poww%>))
  var tData={

    max:15,
    radius: 0.0008,
    //data: [{'lat':44.8402, 'lng':-68.6745, 'count':10},{'lat':44.7502,'count':15, 'lng':-63.8454},{'lat':44.5678,'lng':-66.3454,'count':8},{'lat':44.5678,'lng':-70.3454,'count':12}]
    data: <%-poww%>
  };

  //var mymap = L.map('mapid').setView([44.74026342, -63.64950575], 13);

  var baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 28,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiYmFsYWppZHMiLCJhIjoiY2pyc2d0ZWFrMDFpbjQ5bzBveDVwNjJpcSJ9._FvBRrxIbga7rJ53wDYo6A'
});

var cfg = {
// radius should be small ONLY if scaleRadius is true (or small radius is intended)
// if scaleRadius is false it will be the constant radius used in pixels
"radius": 0.0008,
"maxOpacity": .8,
// scales the radius based on map zoom
"scaleRadius": true,
// if set to false the heatmap uses the global maximum for colorization
// if activated: uses the data maximum within the current map boundaries
//   (there will always be a red spot with useLocalExtremas true)
"useLocalExtrema": true,
// which field name in your data represents the latitude - default "lat"
latField: 'lat',
// which field name in your data represents the longitude - default "lng"
lngField: 'lng',
// which field name in your data represents the data value - default "value"
valueField: 'count'
};

var heatmapLayer = new HeatmapOverlay(cfg);

var mymap = new L.Map('mapid', {
  center: new L.LatLng(44.637460, -63.587511),
  zoom: 14,
  layers: [baseLayer, heatmapLayer]
});

mymap.on('zoomstart', function(ev) {

    // zoom level changed... adjust heatmap layer options!
    var nuConfig = {
      radius: 0.1,
      maxOpacity: .5,
      minOpacity: 0,
      blur: .75
    };
    heatmapLayer.configure(nuConfig);
    // render the new options
    heatmapLayer.repaint();
});

heatmapLayer.setData(tData);



var marker = L.marker([44.637460, -63.587511]).bindPopup('hello this is cool').openPopup().addTo(mymap);

</script>
</body>
</html>
